{%extends 'charts/base.html'%}


{%block title%}
CBW - Fabrication Shop
{%endblock title%}


{%block content%}

<h1>Fabrication Shop Daily Output</h1>

<div class="center" >
    <div class="col center2" style="background: #9baaae;">
        <form method="POST" action="{%url 'addFabBogie'%}">
            {% csrf_token %}
            <h3 style="color:black; font-family:sans-serif; font-style:italic"> Add New Entry</h3>
            <h5>Use the Autofill to fetch the Bogie Type from the database</h5>
            <input type="text" id="Bogie" name="Bogie" style="background-color: white; color:black" placeholder="Bogie Type"
                aria-label="Bogie Type" />
            <script>
                $("#Bogie").autocomplete({
                    source: '{%url 'BogieAutocomplete'%}',
                    
                });
            </script>
            <input type="text" id="Quantity" name="Quantity" style="background-color: white; color:black" placeholder="Quantity"
                aria-label="Quantity" />
    
            <input type="text" name="datepicker" style="background-color: white; color:black" placeholder="Date"
                aria-label="Date" id="datepicker">
            
            <script>
                $(function () {
                    $("#datepicker").datepicker({
                        dateFormat: "yy-mm-dd"
                    });
                });
            </script>
            <input type="submit" value="save" style="background-color: lightcoral; color:black" />
        </form>
    </div>

    <div class="col center2" style="background: #6aae66;">
    <div style="flex-grow: 8; background-color:rgb(90, 158, 226);">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Date</th>
                    <th>Bogie Type</th>
                    <th>Quantity</th>
                    <th>Author</th>
                </tr>
            </thead>
    
            <tbody>
                {%for obj in object %}
                <tr class='danger'>
                    <td class='text-primary'><h4>{{forloop.counter}}</h4></td>
                    <td class='text-primary'><h4>{{obj.RepDate}}</h4></td>
                    <td class='text-primary'><h4>{{obj.BogieType}}</h4></td>
                    <td class='text-primary'><h4>{{obj.Quantity}}</h4></td>
                    <td class='text-primary'><h4>{{obj.author}}</h4></td>
                </tr>
                {%endfor%}
            </tbody>
    
        </table>
    </div>
    
    </div>
</div>

<div class="chartCard">
    <div class="center4">
        <canvas id="myChart"></canvas>
    </div>

    <script>
        // setup 
        const data = {
            labels: ['Mon', 'Tue', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun'],
            data2:[1,2,3,4,5,6,7],
            datasets: [{
                label: 'Weekly Sales',
                data: [{ days: 'Mon', products: { sales: 1, link: "{% url 'home' %}" } },
                    { days: 'Tue', products: { sales: 2, link: 'https://www.yahoo.com' } },
                    { days: 'Wed', products: { sales: 3, link: 'https://www.cartoonnetwork.com' } },
                    { days: 'Thurs', products: { sales: 4, link: 'https://www.facebook.com' } },
                    { days: 'Fri', products: { sales: 5, link: 'https://www.ndtv.com' } },
                    { days: 'Sat', products: { sales: 6, link: 'https://www.aajtak.com' } },
                    { days: 'Sun', products: { sales: 7, link: 'https://www.salwanpublicschool.com' } },
                
],
                backgroundColor: [
                    'rgba(255, 26, 104, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(0, 0, 0, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 26, 104, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(0, 0, 0, 1)'
                ],
                borderWidth: 1
            }]
        };

        // config 
        const config = {
            plugins: [ChartDataLabels],
            type: 'bar',
            data: data,
            options: {
                plugins: {
                    datalabels: {
                        formatter: function (value, context) {
                            return context.chart.data.data2[context.dataIndex];
                        }
                    }
                },
                parsing: {
                    xAxisKey: 'days',
                    yAxisKey : 'products.sales',
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
                
            }
        };

        // pinpointing the chart, so that click understands the canvas tag
        const ctx = document.getElementById('myChart');
        // render init block
        const myChart = new Chart(
            ctx,
            config
        );


        function clickHandler(click){
            const points = myChart.getElementsAtEventForMode(click, 'nearest', {intersect : true}, true);
            if (points.length){

                const firstPoint = points[0];
                // console.log(points)
                // console.log(firstPoint);
                // const value2 = myChart.data.labels[firstPoint.index];
                const value = myChart.data.datasets[0].data[firstPoint.index];
                
                // console.log(value.products.link);
                // console.log(value2);
                // window.open('https://www.google.com', '_blank');
                //location.href = value.products.link;
                // window.open(value.products.link, '_blank');
                const data = {
                    'headline': value.products.link,
                    'tag': value.products.sales,
                    'background_image': value.days,
                    'content': "Testing",
                    'user': 1
                };

                console.log(data)
                
                var formData = new FormData();
                //console.log(name);
                formData.append('headline', data['headline']);
                formData.append('tag', data['tag']);
                formData.append('background_image', data['background_image']);
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                console.log(formData.entries());

                let tre = fetch("{%url 'partsdata'%}", {
                    method: 'POST',
                    body: formData,
                }).then(response => response.json())
                    .then(data => {
                        console.log('Success:', data);
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                



                // let response = fetch("{%url 'partsdata'%}", {
                //     method: 'POST',
                //     body: data,
                //     headers: {
                //         'Content-Type': 'application/json',                
                //     }
                // })
                window.open('{%url 'partsdata'%}', formData, '_blank')
                // var childwin = window.open('{%url 'partsdata'%}', data, 'height=300px, width=500px');
                // childwin.postMessage(data, '*')// childwin is the targetWindow
                // childwin.focus();
                // sendMessage()

                //fetch("{%url 'partsdata'%}").then((response) => console.log(response.json())); //3
                };
                // response.then(console.log.bind(console, 'new args'));
               

                }
            
        
        ctx.onclick = clickHandler
    </script>


{%endblock content%} {% block afterbody %}

{% endblock afterbody %}