{%extends 'charts/base.html'%}


{%block title%}
Home

{%endblock title%}


{%block content%}
<h4 style="font-family:'Apple Chancery'; font-size: 32px;">Charts Home {{time}}</h4>

<div class="overflow-auto w-100 h-10 center3" style="background-color:DodgerBlue;">
    <table class="table table-bordered ">
        <thead>
            <tr>
                <th><a class="dropdown-item"
                    style="background-color:rgb(255, 255, 255); color:rgb(0, 0, 0); font-weight: 500; font-size: 12px; margin-right:0px; margin-top:5px;"
                    href="{% url 'dpcchart'%}">DPC</a></th>
                <th><a class="dropdown-item"
                    style="background-color:rgb(255, 255, 255); color:rgb(0, 0, 0); font-weight: 500; font-size: 12px; margin-right:0px; margin-top:5px;"
                    href="{% url 'dpcchart'%}">TC</a></th>
                <th><a class="dropdown-item"
                    style="background-color:rgb(255, 255, 255); color:rgb(0, 0, 0); font-weight: 500; font-size: 12px; margin-right:0px; margin-top:5px;"
                    href="{% url 'dpcchart'%}">MC</a></th>
            </tr>
        </thead>
    </table>
</div>

<canvas class='center' id="myChart" width="40" height="16"></canvas>
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{%for x in DPC%} '{{x}}', {%endfor%}],
            datasets: [{
                label: 'No of Cases in past month',
                data: [{%for x in freq %} {{x}}, {% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

{%endblock content%}
{%block afterbody%}

{%endblock afterbody%}