{%extends 'reportbase.html'%}

{% block head %}
<style>


    @page {
        size: a4 portrait;
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content;
            left: 50pt; width: 512pt; top: 30pt; height: 40pt;
        }
        @frame content_frame {          /* Content Frame */
            left: 50pt; width: 512pt; top: 70pt; height: 632pt; font-size: 12pt;
        }
        @frame footer_frame {           /* Another static Frame */
            -pdf-frame-content: footer_content;
            left: 50pt; width: 512pt; top: 772pt; height: 20pt;
        }
    }
    table { -pdf-keep-with-next: true; }
    p { margin: 0; -pdf-keep-with-next: true; }
    p.separator { -pdf-keep-with-next: false; font-size: 6pt; }

</style>
{# Include FontAwesome; required for icon display #}
    


 {% endblock head %}
{%block title%}
Charbagh Locomotive Workshop : Letter Generation System
{%endblock title%}


{%block content%}
<div id="header_content">
<p align ="center"> Northern Railway  <br>
Locomotive Workshop <br> Charbagh, Lucknow-226005 </p> 
</div>
<hr>
<p>{{LNo}}</p>
<br>
Date: {{date}}
<p>To<br>
{{To}}<br>
{{Designation}}<br>
{{Address}}<br><br>

<p align="left"> sub:  {{subject}}</p>

<br><br>    

    <p>{{matter| linebreaks}}</p><br>

<br><br><br><br><br><br>
<p align='right'>
{{user.first_name}} {{user.last_name}}<br>
{{user.Designation}}<br></p> 
<br>
{%if cc1 != '' %}
Copy To:<br>
{{cc1}} For kind info pl<br>
{%endif%}
{%if cc2 != '' %}
{{cc2}} For kind info pl<br>
{%endif%}
{%if cc3 != ''%}
{{cc3}} For kind info pl<br>
{%endif%}
{%if cc4 != ''%}
{{cc4}} For info and na<br>
{%endif%}
<hr>
{%if data%}
<div>
    <h3>Car wise deficiency list</h3>
<table class="table table-bordered">
    
    
        <tr class="center4">

            
            
            <th>Car Number </th>
            <th>Deficiency Details</th>

        </tr>
    
        {%for t in data%}
        
        <tr class='center4'>
            {%for x, y in t.items%}
            <td>{{x}}</td>
            {%for r in y%}
            <td>{{r}}</td>
            {%endfor%}
            
            
            {%endfor%}

        </tr>
        
       
        {%endfor%}
    
    
</table>
</div>
{%endif%}
<br><br>
{%if data2%}
<div>
    <table class="table table-bordered">

        <h3>Part wise number of cases from {{daterange}}</h3>
        <tr class="center4">



            <th>Part Name </th>
            <th>Number of Cases</th>

        </tr>

        {%for t in data2%}

        <tr class='center4'>
            {%for x, y in t.items%}
            <td>{{x}}</td>
            <td>{{y}}</td>


            {%endfor%}

        </tr>


        {%endfor%}


    </table>
</div>
{%endif%}
<div id="footer_content">Page <pdf:pagenumber>
        of <pdf:pagecount>
    </div>
{%endblock content%}
{%block afterbody%}


{%endblock afterbody%}