{%extends 'charts/base.html'%}


{%block title%}
Letter - Confidential
{%endblock title%}

{%block head%}

{%endblock head%}
{%block content%}

<h1 class="center"  style="flex-grow: 2; background-color:DodgerBlue;">Letter Module</h1>


<div class="center" style="display: flex; align-items: stretch;background-color: #f1f1f1;">
    
    
    <div  style="flex-grow: 2; background-color:MediumSeaGreen;">
        <h3 style="color:black; font-family:sans-serif; font-style:italic"> Add Details</h3>
        <form method="POST" action="{%url 'LetterPrint'%}">
            {% csrf_token %}
            <div class="center">
            <div class="row" >
            <div class="col">
                <h3>Details</h3>
                <div class="center">
                    <h5>Letter No.</h5>
                    <input type="text" id="LNo" name="LNo" style="background-color: white; color:black" /><br>
                    <h5>Date</h5>
<input type="text" name="datepicker1" style="background-color: white; color:black" placeholder="Date" aria-label="Date"
    id="datepicker1">
<script>
    $(function () {
        $("#datepicker1").datepicker({
            dateFormat: "dd-mm-yy"
        });
    });
</script>
            
            <h5>To</h5>
            <input type="text" id="To" name="To"  style="background-color: white; color:black" />
<h5>Designation</h5>
            <input type="text" id="Designation" name="Designation"  style="background-color: white; color:black" />

<h5>Address</h5>
            <input type="text" id="Address" name="Address"  style="background-color: white; color:black" />
<h5>subject</h5>
            <input type="text" id="subject" name="subject"  style="background-color: white; color:black" />
<br>
<h5>Matter</h5>
<textarea id="matter" name="matter" rows="12" cols="80">
  </textarea>
<br>


<h5>cc1</h5>
            <input type="text" id="cc1" name="cc1"  style="background-color: white; color:black" />
            <h5>cc2</h5>
            <input type="text" id="cc2" name="cc2"  style="background-color: white; color:black" />
            <h5>cc3</h5>
            <input type="text" id="cc3" name="cc3"  style="background-color: white; color:black" />
            <h5>cc4</h5>
            <input type="text" id="cc4" name="cc4"  style="background-color: white; color:black" />
        </div></div><div class="col">
            <h3>Data</h3>
            <div class="center">
            <br>
            <h5>List any DPC/TC/MC if required, separated by commas </h5>
            
            <input type="text" id="RolStock" name="RolStock" style="background-color: white; color:black" />
            <br>
            <h5>List any part of DPC/TC/MC if required, separated by commas</h5>
            <input type="text" name="datepicker3" style="background-color: white; color:black" placeholder="From" aria-label="From"
                id="datepicker3">
            <script>
                $(function () {
                    $("#datepicker3").datepicker({
                        dateFormat: "yy-mm-dd"
                    });
                });
            </script>
            <input type="text" name="datepicker4" style="background-color: white; color:black" placeholder="To" aria-label="To"
                id="datepicker4">
            
            <script>
                $(function () {
                    $("#datepicker4").datepicker({
                        dateFormat: "yy-mm-dd"
                    });
                });
            </script>
            <input type="text" id="part" name="part" style="background-color: white; color:black" />
            <br><br>
            <input type="submit" value="save" style="background-color: lightcoral; color:black" />
        </div>
        </div>
        </form>
        </div>
    </div>
</div>

{% block afterbody %}

{% endblock afterbody %}
<!-- this should go after your </body> -->
<link rel="stylesheet" type="text/css" href="/jquery.datetimepicker.css"/ >
<script src="/jquery.js"></script>
<script src="/build/jquery.datetimepicker.full.min.js"></script>
{%endblock content%}
