{%extends 'reportbase.html'%}

{% block head %}
<style>
.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
  text-align: center;
}

    @page {
        size: a4 portrait;
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content;
            left: 50pt; width: 512pt; top: 30pt; height: 40pt;
        }
        @frame content_frame {          /* Content Frame */
            left: 50pt; width: 512pt; top: 70pt; height: 632pt;
        }
        @frame footer_frame {           /* Another static Frame */
            -pdf-frame-content: footer_content;
            left: 50pt; width: 512pt; top: 772pt; height: 20pt;
        }
    }
    table { -pdf-keep-with-next: true; }
    p { margin: 0; -pdf-keep-with-next: true; }
    p.separator { -pdf-keep-with-next: false; font-size: 6pt; }

</style>
{# Include FontAwesome; required for icon display #}
    


 {% endblock head %}
{%block title%}
Charbagh Locomotive Workshop : Letter Generation System
{%endblock title%}


{%block content%}
<div id="header_content">
<p align ="center"> Northern Railway  <br>
Locomotive Workshop <br> Charbagh, Lucknow-226005 </p> 
</div>
<hr>
Date: {{date}}
<p>To<br>
{{To}}<br>
{{Designation}}<br>
{{Address}}<br><br>

<p align="left"> sub:  {{subject}}</p>

<br><br>    

    <p>{{matter| linebreaks}}</p><br>

<br><br><br><br><br><br>
<p align='right'>
{{user.username}}<br>
{{user.Designation}}<br></p> 
<br>
{%if cc1 != '' %}
Copy To:<br>
{{cc1}} For kind info pl<br>
{%endif%}
{%if cc2 != '' %}
{{cc2}} For kind info pl<br>
{%endif%}
{%if cc3 != ''%}
{{cc3}} For kind info pl<br>
{%endif%}
{%if cc4 != ''%}
{{cc4}} For info and na<br>
{%endif%}
<hr>
<div id="footer_content">Page <pdf:pagenumber>
        of <pdf:pagecount>
    </div>
{%endblock content%}
{%block afterbody%}


{%endblock afterbody%}